# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[include AFC/AFC_Macro_Vars.cfg]
[include beacon.cfg]
[include bedfans.cfg]
[include belt_tension.cfg]
[include calibration/*.cfg]
[include caselight.cfg]
[include filament.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include nevermore.cfg]
[include resonance.cfg]
[include SB2209-USB.cfg]
[include stealthburner_led_effects.cfg]
[include test_speed.cfg]

[exclude_object]

[gcode_arcs]
resolution: 0.1

[respond]
default_type: command

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_27000B001150324E31333220-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 450  
max_accel: 3500             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -2
position_endstop: 354
position_max: 354
homing_speed: 60
second_homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PD11
interpolate: true
run_current: 0.8
sense_resistor: 0.110
diag_pin: ^PG9

[autotune_tmc stepper_x]
motor: omc-17hs19-2004s1
sg4_thrs: 145 #max 152

##  A Stepper - Right
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_y]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 359
position_max: 359
homing_speed: 60
second_homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PC6
interpolate: true
run_current: 0.8
sense_resistor: 0.110
diag_pin: ^PG10
 
[autotune_tmc stepper_y]
motor: omc-17hs19-2004s1
sg4_thrs: 145
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_3
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 330
position_min: -8
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC7
interpolate: true
run_current: 0.8
sense_resistor: 0.110

[autotune_tmc stepper_z]
motor: ldo-42sth40-1684ac

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_4
[stepper_z1]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PF2
interpolate: true
run_current: 0.8
sense_resistor: 0.110

[autotune_tmc stepper_z1]
motor: ldo-42sth40-1684ac

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_5
[stepper_z2]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PE4
interpolate: true
run_current: 0.8
sense_resistor: 0.110

[autotune_tmc stepper_z2]
motor: ldo-42sth40-1684ac

##  Z3 Stepper - Front Right
##  Connected to MOTOR_6
[stepper_z3]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE1
interpolate: true
run_current: 0.8
sense_resistor: 0.110

[autotune_tmc stepper_z3]
motor: ldo-42sth40-1684ac

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA3
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: .8
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.0166
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Fan Control
#####################################################################

[controller_fan controller_fan]
pin: PA8
heater: heater_bed
idle_speed: 1.0
idle_timeout: 60

[static_digital_output nevermore_pwr]
pins: PD12

#####################################################################
#   Temp sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4

[temperature_sensor mcu]
sensor_type: temperature_mcu

[temperature_sensor pi]
sensor_type: temperature_host

#####################################################################
#   LED Control
#####################################################################

[neopixel caselight]
pin: PB6
chain_count: 54
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0
color_order: GRBW

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
gcode:
  TURN_OFF_HEATERS
  M84
  CASELIGHT_OFF UNLOCK=1
  STATUS_READY

[quad_gantry_level]
##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions

##  Gantry Corners for 350mm Build
##  Uncomment for 350mm build
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 40, 40
mesh_max: 310,310
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
adaptive_margin: 5

#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28 Z
    PARKHEAT
    RESTORE_GCODE_STATE NAME=STATE_G32
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    # Parameters
    {% set bedtemp = params.BED|default(0)|int %}
    {% set hotendtemp = params.HOTEND|default(0)|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}
    {% set simmmu = params.SIMMMU|default("")|lower %}

    CASELIGHT_ON LOCK=1

    M140 S{bedtemp}
    {% if simmmu == '' or simmmu == 'first' %}
      M109 S150
    STATUS_HOMING
    G28
    PARKHEAT
    {% endif %}
    STATUS_HEATING
    M190 S{bedtemp}
    {% if chambertemp > 0 %}
      TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}
      RESPOND MSG="Chamber temp reached"
      DELAY M=10
    {% elif bedtemp >= 50 %}
      DELAY M=10
    {% endif %}
    {% if simmmu == '' or simmmu == 'first' %}
    M109 S150
      STATUS_CLEANING
      AFC_BRUSH
    STATUS_LEVELING
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    G28 Z
      BED_MESH_CALIBRATE { 'ADAPTIVE=1' if simmmu == '' else '' }
    {% else %}
      G28 Z
    {% endif %}
    PARKHEAT
    STATUS_HEATING
    M109 S{hotendtemp}
    G92 E0
    AFC_BRUSH
    STATUS_PRINTING

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set simmmu = params.SIMMMU|default("")|lower %}
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z + 20]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-6.0 F1800                 ; retract filament
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} Z{[z_safe, 50]|max} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    {% if simmmu == '' or simmmu == 'last' %}
      TURN_OFF_HEATERS
    BED_MESH_CLEAR
    {% endif %}
    CLEAR_PA_OVERRIDE
    CASELIGHT_UNLOCK
    STATUS_PART_READY
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.028
#*# pid_ki = 2.639
#*# pid_kd = 286.834
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.814
#*# pid_ki = 5.553
#*# pid_kd = 57.751
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 57.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 47.2
#*#
#*# [probe]
#*# z_offset = -0.391
#*#
